/* * {
  margin: 0;
  padding: 0;
} */
body {
  background-image: url(/images/Vector\ 55.png);
  background-position: none;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 1500px; */
  height: 1150px;
  display: flex;
  /* top: -354px; */
  /* left: 4086px; */
  /* align-items: center; */
  /* margin: auto; */
}
.container div {
  /* width: 802px;
  height: 480px; */
  /* top: 342px; */
  border-radius: 10px;
  /* right: 22px;
  left: 128px; */
  background-color: #ffffff;
  /* display: flex; */
  justify-content:right;
  align-items: center;
  padding: 34px;
  box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
}

h2 {
  font-family: "product sans" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 68px;
  color: #4e598c;
  align-items: center;
}
.p {
  font-family: "product sans" sans-serif;
  font-style: normal;
  font-weight: 400%;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
}
.a {
  font-family: "product sans" sans-serif;
  font-style: normal;
  font-weight: 400%;
  font-size: 20px;
  line-height: 30px;
  color: #d09413;
}
.circle {
  position: absolute;
  left: 200px;
  }
.tick {
  position: absolute;
  left: 200px;
  /* bottom: 50px; */
}
