body {
  background-image: url(/images/Vector\ 55.png);
  background-position: absolute;
  /* width: 1440px;
  height: 1114px;
  margin-top: -35px;
  margin-left: 4086px; */
  background-repeat: no-repeat;
  background-size: contain;
}
.container div {
  width: 802px;
  height: 480px;
  top: 342px;
  border-radius: 10px;
  right: 22px;
  left: 128px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "product sans" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 68px;
  color: #4e598c;
}
.p {
  font-family: "product sans" sans-serif;
  font-style: normal;
  font-weight: 400%;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
}
.a {
  font-family: "product sans" sans-serif;
  font-style: normal;
  font-weight: 400%;
  font-size: 20px;
  line-height: 30px;
  color: #af821f;
}
